:root,
:host {
  /* Colors*/
  --color-error: #9e0101;
  --color-success: #048d04;
  --color-white: #ffffff;
  --color-black: #010101;
  --color-shade-100: #f1f5ff;
  --color-shade-200: #d2d7e4;
  --color-shade-800: #343d4e;

  /* Font family */

  --font-primary: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  /* Font sizes*/
  --text-base-size: 1em;
  --font-m: 1em;
  --font-s: 0.9em;
  --font-xs: 0.75em;

  /* Radius */

  --radius-md: 10px;
  --radius-sm: 4px;

  /* Spacing */

  --space-unit: var(--text-base-size);
  --space-xxs: calc(0.25 * var(--space-unit));
  --space-xs: calc(0.5 * var(--space-unit));
  --space-sm: calc(0.75 * var(--space-unit));
  --space-md: calc(1.25 * var(--space-unit));
  --space-lg: calc(2 * var(--space-unit));
  --space-xl: calc(3.25 * var(--space-unit));
  --space-xxl: calc(5.25 * var(--space-unit));
}

/* Styles classes*/
.text-bold {
  font-weight: bold;
}
.text-size-sm {
  font-size: var(--font-s);
}
.ta-center {
  text-align: center;
}

/* Resets */
p,
h2,
h1 {
  margin: 0;
}
