.modalBackdrop {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.7);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
  background-color: var(--color-white);
  border: 3px solid var(--color-shade-800);
  border-radius: 6px;
  padding: var(--space-lg);
  width: 100%;
  max-width: 500px;
  margin: var(--space-lg);
  font-weight: bold;
}

.modalContainer .closeBtn {
  position: absolute;
  top: 0;
  right: 0;
  padding: var(--space-md);
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.modalContainer .header {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
.modalContainer ul {
  display: flex;
  flex-flow: column;
  gap: var(--space-md);
  padding: var(--space-md);
}

.modalContainer ul .liContent {
  display: flex;
  gap: var(--space-sm);
}

.modalContainer ul .liContent p {
  white-space: pretty;
  width: 80%;
}
.modalContainer ul .liContent .liImgContainer {
  width: 20%;
  min-width: 80px;
}
.modalContainer ul .liContent .liImgContainer img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
